@use 'shared/styles/variables' as *;

.change_configure_block {
	width: 200px;
	height: auto;
	margin-bottom: 15px;
	background-color: $white;
	border-radius: 10px;

	@media (max-width: 358px) {
		height: auto;
	}

	p {
		padding: 10px 15px;
		font-size: 17px;
		border-bottom: 1px solid $black;
		display: flex;
		justify-content: center;
		@media (max-width: 358px) {
			font-size: 15px;
		}
	}

	button {
		display: inline-block;
		padding: 5px 10px;
		font-size: 15px;
		cursor: pointer;
		color: $black;
		width: 50%;
		height: 100%;
		border: 1px solid $black;
		transition: background-color 0.2s ease-in;

		&:hover {
			background-color: $blue-color;
			color: $white;
		}

		@media (max-width: 358px) {
			font-size: 13px;
		}
	}

	&_wrapper {
		height: 53px;

		@media (max-width: 358px) {
			height: 43px;
		}
	}
}

button.active {
	background-color: $blue-color;
	color: $white;
}

.wheel {
	background-color: #fff;
	position: absolute;
	bottom: 18%;
	left: 62%;
	@media (max-width: 538px) {
		position: static;
	}
}
.number_car {
	position: absolute;
	left: 5%;
	bottom: 20%;

	@media (max-width: 538px) {
		position: static;
	}
}

.color_car {
	position: absolute;
	left: 50%;
	top: 15%;

	@media (max-width: 538px) {
		position: static;
	}
}
