@import 'tailwindcss';
* {
	box-sizing: border-box;
}
body {
	background-color: #e3e3e3;
}
.text-blue {
	color: #266cfe;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 10px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	img {
		height: auto;
		object-fit: cover;
	}
}
.btn-blue {
	font-size: 10px;
	font-weight: 700;
	background-color: #266cfe;
	color: #fff;
	padding: 20px 40px;
	cursor: pointer;
}
.image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 16px;
}

.image-item img {
	width: 100%;
	height: 500px;
	border-radius: 8px;
	object-fit: cover;
}
@media (max-width: 768px) {
	.image-grid {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}

@media (max-width: 480px) {
	.image-grid {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}
