.header {
	padding-top: 22px;
	padding-bottom: 44px;
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 22px;

	nav {
		margin-bottom: 3px;
	}
}

.sticks {
	margin-right: 285px;
	span {
		width: 40px;
		height: 2px;
		background-color: #000;
		margin-bottom: 4px;
		display: block;
	}
}

.nav_list {
	display: flex;
	gap: 23px;
	li {
		font-size: 15px;
		font-weight: 600;

		a {
			transition: opacity ease 0.2s;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}
.more_links {
	display: flex;
	gap: 32px;
	align-items: center;
	img {
		display: block;
	}
}
